.add-day-button-wrapper {
    text-align: right;
    margin-top: 1em;
}

.tour-day-item-wrapper {
    margin: 0 -12px;
}

.tour-day-item {
    border-bottom: 1px solid #eee;
    padding: 12px 12px;
}

.act-list-wrapper li {
    display: inline-block;
    padding-right: 1em;
}

.form-day-buttons-wrapper {
    margin-top: 12px;
    text-align: right;
}

.form-day-buttons-wrapper input.button {
    margin-right: 5px;
}

.tour-day-item .input-tour-day-item {
    width: 100%;
}

.tour-day-item textarea {
    height: 10em;
}